{%- style -%}
.sec-data{
  display: flex;
  justify-content:center;
  gap: 20px;
}
.sec-data.sec-col-reverse{
  flex-direction: row-reverse;
}
.section-img{
  background : {{ section.settings.background }}
}
.left-sec,.rigthsec{
  width:50%;
}
.section-img img{
  width:100%
}
.sec-head-text h2 {
    color: {{section.settings.body_text}};
    font-size: {{ section.settings.head_fontsize }}px;
    text-align: {{ section.settings.head_textalign }};
}
{% if section.settings.hide_head  == true %}
  .sec-head-text{
    display:none;
  }
{% endif %}
.sec-data {
  background : {{ section.settings.sub_background }}
}
.col-sec-data{
  padding-top:{{ section.settings.head_padding_top }}px;
  padding-bottom:{{ section.settings.head_padding_bottom }}px;
}
.sec-data{
  padding-top:{{ section.settings.insec_padding_top }}px;
  padding-bottom:{{ section.settings.insec_padding_bottom }}px;
  padding-left:{{ section.settings.insec_padding_left }}px;
  padding-right:{{ section.settings.insec_padding_right }}px;
}
{% for block in section.blocks %}
  {% case block.type %}
    {% when sub_head %}
      .rigthsec h3{
        color:{{ block.settings.sub_text_color }};
        text-align:{{ block.settings.subhead_textalign }};
      }
    {% else %}
      
  {% endcase %}
  
{% endfor %}


{%  endstyle %}
<div class="section-img {{ section.settings.sec_cus_class }}">
  <div class="page-width">
    <div class="col-sec-data">
      <div class="sec-head-text"><h2>{{ section.settings.headline }}</h2></div>
      <div class="sec-data {% if section.settings.sec_layout == 'image_first' %}sec-col-reverse{% endif %}">
        <div class="left-sec">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'sub_content' -%}
                  {{ block.settings.right_content }}
            {%- endcase -%}
          {%- endfor -%}
        </div>
        <div class="rigthsec">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'sub_head' -%}
                  <h3 class="sec-text__heading inline-richtext">
                    {{ block.settings.sub_heading }}
                  </h3>
                {%- when 'sub_image' -%}
                  {{ block.settings.image| image_url: width: 600, height:400|image_tag  }}
              {%- endcase -%}
            {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "2 Col with text & image",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label":"Headline",
    },
    {
      "type": "header",
      "content": "Title Style"
    },
    {
      "type": "range",
      "id": "head_fontsize",
      "label": "Font Size",
      "unit":"px",
      "default":16,
      "min": 14,
      "max": 56,
      "step": 1,
    },
    {
      "type": "select",
      "id": "head_textalign",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ],
      "default":"left"
    },
    {
      "type": "checkbox",
      "id": "hide_head",
      "label": "Hide Title from desktop & mobile",
      "default":false
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "linear-gradient(#ffffff, #000000)"
    },
    {
      "type": "header",
      "content": "Section Padding:"
    },
    {
      "type": "range",
      "id": "head_padding_top",
      "label": "Top Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "head_padding_bottom",
      "label": "Bottom Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "text",
      "id":"sec_cus_class",
      "label": "Custom CSS Class"
    },
    {
      "type": "select",
      "id": "sec_layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image First"
        },
        {
          "value": "text_first",
          "label": "Image Second"
        }
      ],
      "default": "image_first",
      "label": "Image Placement",
      "info": "Image first is the default mobile layout"
    },
    {
      "type": "header",
      "content": "Inner Section Styling:"
    },
    {
      "type": "color_background",
      "id": "sub_background",
      "label": "Inner Section Background",
      "default": "linear-gradient(#ffffff, #000000)"
    },
    {
      "type": "range",
      "id": "insec_padding_top",
      "label": "Top Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "insec_padding_bottom",
      "label": "Bottom Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    },{
      "type": "range",
      "id": "insec_padding_left",
      "label": "Left Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "insec_padding_right",
      "label": "Right Padding",
      "unit":"px",
      "default":10,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "name":"Sub Heading",
      "limit":1,
      "type": "sub_head",
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "placeholder": "Sub title of image"
        },
        {
          "type": "header",
          "content": "Style"
        },
        {
          "type": "select",
          "id": "subhead_textalign",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ],
          "default":"left"
        },
        {
          "type": "color",
          "id": "sub_text_color",
          "label": "Text Color",
          "default": "#000000"
        }      
      ]

    },
    {
      "name":"Text",
      "limit":1,
      "type": "sub_content",
      "settings":[
        {
          "type": "html",
          "id": "right_content",
          "label": "Content Block"
        },
        {
          "type": "color",
          "id": "Content_text_color",
          "label": "Text Color",
          "default": "#000000"
        }       
      ]
    },
    {
      "name":"Image",
      "limit":1,
      "type": "sub_image",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }      
      ]
    }
  ],
  "presets": [
    {
      "name": "2 Columm with text & image",
      "blocks": [
        {
          "type": "sub_head"
        },
        {
          "type": "sub_content"
        },
        {
          "type": "sub_image"
        }
      ]
    }
  ]
}
{% endschema %}
